.go-to-top{
    position: fixed;
    bottom: 100px;
    right: 30px;
    
    background-color: tomato;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.go-to-top:active{
    background-color: #ff6347ee;
}
.go-to-top div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
span{
    font-size: 8px;
    display: none;
}
.go-to-top:hover{
    background-color: #ff6347cc;
    span{
        display: block;
    }
}
@media (max-width:480px) {
    .go-to-top{
        bottom: 70px;
        right: 20px;
        padding: 8px 12px;
        font-size: 16px;
    }
    span{
        display: block;
    }
}
