@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.spinner {
    position: fixed;
    z-index: 200;
    top: 25%;
    left: 45%;
    display: none;
    width: 200px;
    height: 200px;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid tomato; /* Tomato color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 480px) {
  .app{
    width: 95%;
  }.spinner {
    width: 100px;
    height: 100px;
    top: 40%;
    left: 35%;
  }
  
}